body {
    font-family: Arial, sans-serif;
    background-color: #fafafa;  /* Color de fondo más suave */
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ff6600;  /* Un color naranja vibrante */
    color: white;
    text-align: center;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  /* Sombra sutil para dar profundidad */
}

nav {
    background-color: #00b4d8;  /* Un color azul brillante */
    padding: 12px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
    color: #ff6600;  /* Color naranja al pasar el ratón */
}

section {
    padding: 30px;
    background-color: #ffffff;  /* Fondo blanco para las secciones */
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #ff6600;  /* El mismo naranja para el pie de página */
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 30px;
}

img {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 300px;
    height: auto;
    border-radius: 10px;
    border: 5px solid #ff6600;  /* Bordes con color naranja */
}

/* Estilos para botones */
button {
    background-color: #00b4d8;  /* Color azul para los botones */
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #ff6600;  /* Cambia a naranja al pasar el ratón */
}

/* Estilo para los enlaces */
a {
    color: #00b4d8;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #ff6600;  /* Naranja al pasar el ratón */
}
